*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    padding: 18px 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-titel{
    font-weight: 800;
    font-size: 45px;
}
.banner{
    display: flex;
    margin: 0 50px 0 180px;
    /* margin: 0 200px; */
    align-items: center;

}
.banner-titel{
    font-weight: 700;
    font-size: 84px      ;
}
.banner-sub-titel{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.baneer-dp{
     font-size: 18px;
     color: var(--Dark-03, #757575);
     margin-bottom: 30px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png); , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , :left:100px;
} 
.mine{
    max-width: 1140px;
    margin: 0 auto;
}
.section{
    margin-top: 130px;
}
    
.About{
    margin-top: 130px;
    background: #FFF8F3 ;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-titel{
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;

}
.section-dp{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-titel{
    font-size: 20px;
    color:#757575 ;
}
.info-dp{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.what-i-do{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.slills{
    background: #FFFFFF;
    box-shadow: 0 6px 50px #0000000f;
    border-radius: 5px;
    padding: 30px;
}
.skills-titel{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    margin-bottom: 20px;
}
.skills-dp{
    color: #757575;
}